<table id="table" data-toggle="table" data-search="true" data-filter-control="true" data-show-export="true"
       data-click-to-select="true" data-toolbar="#toolbar" data-show-columns="true" data-id-field="id"
       data-select-item-name="id" class="table-sm table-borderless table-bordered table-hover table">
    <thead class="thead-light">
    <tr>
        <th class="bs-checkbox " style="width: 36px; " data-field="state">
            <div class="th-inner "><label><input name="btSelectAll" type="checkbox"><span></span></label></div>
            <div class="fht-cell">
                <div class="no-filter-control"></div>
            </div>
        </th>
        <th style="" data-field="id">
            <div class="th-inner ">Id</div>
            <div class="fht-cell">
                <div class="no-filter-control"></div>
            </div>
        </th>
        <th style="" data-field="name">
            <div class="th-inner sortable both">Name</div>
            <div class="fht-cell">
                <div class="filter-control"><input type="search"
                                                   class="form-control bootstrap-table-filter-control-name search-input"
                                                   style="width: 100%;" placeholder="" value=""></div>
            </div>
        </th>
        <th style="" data-field="tags">
            <div class="th-inner sortable both">Tags</div>
            <div class="fht-cell">
                <div class="filter-control"><input type="search"
                                                   class="form-control bootstrap-table-filter-control-tags search-input"
                                                   style="width: 100%;" placeholder="" value=""></div>
            </div>
        </th>
        <th style="" data-field="models">
            <div class="th-inner sortable both">Models</div>
            <div class="fht-cell">
                <div class="filter-control"><input type="search"
                                                   class="form-control bootstrap-table-filter-control-models search-input"
                                                   style="width: 100%;" placeholder="" value=""></div>
            </div>
        </th>
        <th style="" data-field="templates">
            <div class="th-inner sortable both">Templates</div>
            <div class="fht-cell">
                <div class="filter-control"><input type="search"
                                                   class="form-control bootstrap-table-filter-control-templates search-input"
                                                   style="width: 100%;" placeholder="" value=""></div>
            </div>
        </th>
        <th style="" data-field="6">
            <div class="th-inner ">Actions</div>
            <div class="fht-cell">
                <div class="no-filter-control"></div>
            </div>
        </th>
    </tr>
    </thead>
    <tbody id="designlist">
    <tr data-index="0" class="selected">
        <td class="bs-checkbox " style="width: 36px; "><label>
            <input data-index="0" name="id" type="checkbox" value="3">
            <span></span>
        </label></td>
        <td>3</td>
        <td>La bière c'est la vie</td>
        <td>Féminin
            Famille
            Dragueur
        </td>
        <td></td>
        <td></td>
        <td><a href="/design/design/3"><span class="faicon"><i class="fas fa-eye"></i></span></a>
            <a href="/design/design/3/edit"><span class="faicon"><i class="fas fa-edit"></i></span></a>
            <a href="/design/design/delete/3"><span class="faicon"><i class="fas fa-trash-alt"></i></span></a></td>
    </tr>
    <tr data-index="1" class="selected">
        <td class="bs-checkbox " style="width: 36px; "><label>
            <input data-index="1" name="id" type="checkbox" value="4">
            <span></span>
        </label></td>
        <td>4</td>
        <td>Les chaussures</td>
        <td>Féminin
            Famille
            Dragueur
        </td>
        <td></td>
        <td></td>
        <td><a href="/design/design/4"><span class="faicon"><i class="fas fa-eye"></i></span></a>
            <a href="/design/design/4/edit"><span class="faicon"><i class="fas fa-edit"></i></span></a>
            <a href="/design/design/delete/4"><span class="faicon"><i class="fas fa-trash-alt"></i></span></a></td>
    </tr>
    </tbody>
</table>