{% extends 'base.html.twig' %}

{% block title %}Edit ModelCategory{% endblock %}

{% block body %}
    <h1>Edit ModelCategory</h1>

    {{ include('design/model_category/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('design_model_category_index') }}">back to list</a>

    {{ include('design/model_category/_delete_form.html.twig') }}
{% endblock %}
