{% extends 'base.html.twig' %}

{% block title %}New ModelCategory{% endblock %}

{% block body %}
    <h1>Create new ModelCategory</h1>

    {{ include('design/model_category/_form.html.twig') }}

    <a href="{{ path('design_model_category_index') }}">back to list</a>
{% endblock %}
